
.reg-form 
{
	width: 70%;
	margin-top: 50px;
	padding: 20px;
}
.form-lable
{
	color: #f96332;
	font-weight: bold;
}
.form-input
{
	padding: 10px;
	width: 100%;
	border: 1px solid #f96332;
}
.btn-submit
{
	margin-top: 10px;
	padding: 10px;
	border: 0;
	color: white;
	background-color: #f96332;
	width: 20%
}
table tr td
{
	padding: 5px;
}

img
{
	width: 80px;
	height: 80px;
}
i
{
	color: #f96332;
	font-size: 25px;
}
i:hover
{
	font-size: 30px;
	color: red;
}
.font-color
{
	color: #f96332;
}
.profile-view
{
	margin-top: 80px;
}
.profile-view td
{
	padding: 20px;
}